$c-50: #E5FFF4;
$c-100: #CCFFE9;
$c-200: #99FFD3;
$c-300: #66FFBD;
$c-400: #33FFA7;
$c-500: #00FF91;
$c-600: #00CC74;
$c-700: #009957;
$c-800: #00663A;
$c-900: #00331D;

$bg: #F0F0F0;

$text-muted: #959595;
$text-semi-muted: #505050;
$text-title-muted: #b4b4b4;
$text-light: #353535;
$text-dark: #050505;
$text-dark-30: rgba(5, 5, 5, 0.3);
$text-dark-50: rgba(5, 5, 5, 0.5);
$text-dark-60: rgba(5, 5, 5, 0.6);
$text-dark-70: rgba(5, 5, 5, 0.7);
$logo: #00CC74;
$tag: rgba(0, 204, 116, 0.1);
$btn-hover: #34AB7D;

$btn-active: #63FFAF;
$btn-nonactive: #CCFFE9;

$btn-not-active: #a0a0a0;

$input-border: #7a7979;



$img-bg: #f5f5f5;
$tags: #757f7b;
$btn-disabled: #E0E0E0;
