@import "../../styles/variables.scss";

.headerContainer {
  display: grid;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text-muted;
  margin-top: 20px;
  font-size: 1.4rem;

  .infoText {
    line-height: 14px;
  }

  .callBtn {
    display: none;
    transition: 0.3s ease-in-out;
    &:hover {
      background-color: $btn-hover;
    }
  }

  .contact {
    display: flex;
    position: relative;
    top: 4px;
    
    span {
      font-size: 1.6rem;
      color: $text-light;
      margin-left: 4px;
    }

    .ourNumberText {
      display: none;
    }

    .contactText {
    }
  }

  @media screen and (max-width: 1340px) {
    // flex-direction: column;

    // .infoText {
    //   align-self: start;
    // }

    // .contact {
    //   align-self: end;
    // }
  }

  @media screen and (max-width: 1080px) {
    .infoText {
      font-size: 1rem;
    }

    .contact {
      align-items: center;
      p {
        font-size: 1.2rem;
      }

      span {
        font-size: 1.2rem;
      }
    }
  }

  @media screen and (max-width: 766px) {
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .infoText {
      display: none;
    }
    .callBtn {
      display: flex;
      height: 50px;
      background-color: $c-600;
      border-radius: 10px;
      color: white;
      font-weight: 400;
      padding: 0 20px;
      gap: 7px;
      align-items: center;
      font-size: 1.6rem;
      align-self: center;
      span {
        height: 17px;
      }
    }
    .contact {
      align-self: center;

      .ourNumberText {
        display: block;
        font-size: 14px;
      }
      .contactText {
        display: none;
      }
      span {
        color: $text-light;
        font-size: 14px;
      }
    }
  }

  @media screen and (max-width: 415px) {
    .contact {
      display: grid;
      align-self: center;
      .ourNumberText {
        display: block;
        justify-self: end;
        font-size: 14px;
      }
      .contactText {
        display: none;
      }
      span {
        font-size: 14px;
      }
    }
  }

  @media screen and (max-width: 356px) {
    .contact {
      .ourNumberText {
        margin-right: 15px;
      }

      span{
        margin-right: 15px;
      }
    }
  }
  @media screen and (max-width: 330px) {
    .contact {
      .ourNumberText {
        font-size: 12px;
      }
      .contactText {
      }
      span {
        font-size: 12px;
      }
    }
  }
}

.headerBottom {
  .subLogo {
    display: none;
  }
  width: 100%;
  height: 70px;
  display: flex;
  padding: 0px 20px;
  margin-bottom: 20px;
  gap: 60px;
  border-radius: 10px;
  // padding-bottom: 3px;

  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 52%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../../assets/images/menu-bg.png");

  background-position: bottom -5px right -5px;
  background-color: white;
  background-size: auto 78px;
  background-repeat: no-repeat no-repeat;

  .logo {
    align-self: center;
    a {
      font-family: "Age";
      font-size: 40px;
      color: $logo;
    }
  }

  .menu {
    display: flex;
    justify-self: start;
    align-self: center;
    gap: 1rem;
    padding-left: 0;

    li {
      list-style-type: none;
      display: grid;
      position: relative;
      a {
        position: relative;
        padding: 0 25px 1px 25px;
        height: 50px;
        color: $text-dark;
        font-size: 18px;
        //font-size: 16px;
        border-radius: 10px;
        font-weight: 400;
        display: flex;
        gap: 8px;
        align-items: center;
        transition: 0.1s ease-in-out;

        &:active{
          position: relative;
          height: 46px;
          padding: 0 23px 0 23px;
          margin: 0 2px;
          align-self: center;
          //transform: scaleX(0.98);
        }
        .icon {
          position: relative;
          top: 5px;
          width: auto;
          height: auto;
          align-self: center;
          align-items: center;

          svg {
            position: relative;
            top: -1px;
          }
        }
        .lighting {
          padding-right: 10px;
        }
      }

      
    }

    .active {
      a {
        background-color: $btn-active;
        font-weight: 500;
      }
    }

    .nonActive {
      a {
        background-color: $btn-nonactive;
        font-weight: 400;
      }
    }
  }

  @media screen and (max-width: 1340px) {
    .menu {
      li {
        display: flex;
        a {
          font-size: 1.4rem;
          align-self: center;

          .icon {
            height: 20px;
            top: 1px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1080px) {
    gap: 20px;
    .logo {
      a {
        font-size: 32px;
      }
    }

    .menu {
      li {
        display: flex;
        a {
          font-size: 1.2rem;
          padding: 10px 20px 10px 20px;
          .icon {
            height: 20px;
            top: 1px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 885px) {
    display: grid;
    height: auto;
    background: linear-gradient(
        145deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      url("../../assets/images/menu-mobile-bg.png");

    background-position: bottom 0 right 0px;
    background-color: white;
    background-size: 105%;
    background-repeat: no-repeat;

    padding: 10px auto 10px 20px;
    border-radius: 10px;
    .logo {
      a {
        font-family: "Age";
        font-size: 40px;
      }
    }

    .subLogo {
      display: block;
      font-family: "Age";
      font-size: 20px;
      color: $text-dark;
      font-weight: 400;
    }

    .menu {
      li {
        a {
          font-size: 1.6rem;
          .icon {
            top: 1px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 766px) {
    display: grid;

    .subLogo {
      font-size: 16px;
      letter-spacing: 1px;
    }
    .menu {
      display: grid;

      li {
        a {
          padding: 10px 22px 10px 18px;
        }
      }
    }
  }

  @media screen and (max-width: 410px) {
    min-height: 290px;
    background-size: cover;
  }

  @media screen and (max-width: 380px) {
    .menu {
      li {
        a {
          // font-size: 1.4rem;
          .icon {
            top: 20px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 380px) {
    .logo {
      a {
        font-size: 40px;
      }
    }

    .subLogo {
      font-size: 16px;
    }
    .menu {
      li {
        a {
          // font-size: 1.2rem;
          padding: 10px 12px 10px 12px;
          .icon {
            top: 1px;
            svg {
              // width: 14px;
              // height: 14px;
            }
          }
        }
      }
    }
  }
}
